$base-font-size: 16 !default;

@use "sass:math";

@function rem($px) {
  $value: math.div($px, 1px);
  @return math.div($value, $base-font-size) * 1rem;
}

$color-bg: var(--bg);
$color-surface: var(--surface);
$color-text: var(--text);
